<div class="col-md-4">
  <p>
    <%= image_tag("ABAtaxsection.jpeg", size: "60x60", class: "style_image") %>
      <a href="https://twitter.com/ABATaxSection?ref_src=twsrc%5Etfw"
      class="twitter-follow-button" data-size="large"
      data-show-count="false">@ABATaxSection</a>
      <script async src="https://platform.twitter.com/widgets.js"
      charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("BBNATax.jpg", size: "60x60", class: "style_image") %>
      <a href="https://twitter.com/BBNAtax?ref_src=twsrc%5Etfw"
      class="twitter-follow-button"  data-size="large"
      data-show-count="false">@BBNAtax</a>
      <script async src="https://platform.twitter.com/widgets.js"
      charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("BloombergTax.jpg", size: "60x60", class: "style_image") %>
      <a href="https://twitter.com/BloombergTax?ref_src=twsrc%5Etfw"
      class="twitter-follow-button" data-size="large"
      data-show-count="false">@BloombergTax</a>
      <script async src="https://platform.twitter.com/widgets.js"
      charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("DavidMorse.jpg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/CentristinIdaho?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">Follow @CentristinIdaho</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("EYUSTaxPolicy.jpg", size: "60x60", class: "style_image") %>
      <a href="https://twitter.com/EY_USTaxPolicy?ref_src=twsrc%5Etfw"
      class="twitter-follow-button" data-size="large"
      data-show-count="false">@EY_USTaxPolicy</a>
      <script async src="https://platform.twitter.com/widgets.js"
      charset="utf-8"></script>
  </p>

  <p>
    <%=  image_tag("GOPSenateFinance.jpg", size: "60x60", class: "style_image")%>
    <a href="https://twitter.com/GOPSenFinance?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">Follow @GOPSenFinance</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("IRSnews.jpeg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/IRSnews?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">@IRSnews</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("LauraDavison.jpg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/intent/tweet?screen_name=laurapdavison&ref_src=twsrc%5Etfw"
    class="twitter-mention-button" data-size="large"
    data-show-count="false">Tweet to @laurapdavison</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>
</div>

<div class="col-md-4">
  <p>
    <%= image_tag("LawProfTodd.jpg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/LawProfTodd?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">Follow @LawProfTodd</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("LindaEvans.jpeg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/lifelovetaxes?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">Follow @lifelovetaxes</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("NATP.jpg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/NATPTAX?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">Follow @NATPTAX</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("TonyNitti.jpg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/nittiaj?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">@Nittiaj</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("Parker'sTaxLibrary.jpeg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/ParkerTax?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">@ParkerTax</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("PWC.png", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/PwC_Tax?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">@PwC_Tax</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("RichardRubinDC.jpg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/RichardRubinDC?ref_src=twsrc%5Etfw"
    class="twitter-follow-button"   data-size="large"
    data-show-count="false">@RichardRubinDC</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("SenateFinance.jpeg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/SenateFinance?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">@SenateFinance</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>
</div>

<div class="col-md-4">
  <p>
    <%= image_tag("StevenRoll.jpg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/Roll_FederalTax?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">Follow @Roll_FederalTax</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("TaxAlerts.png", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/Tax_Alerts?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">Follow @Tax_Alerts</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("TaxAnalysts.png", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/TaxAnalysts?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">@TaxAnalysts</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("TaxFoundation.jpg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/taxfoundation?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">@TaxFoundation</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("TaxGirl.png", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/taxgirl?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">@TaxGirl</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("TaxPolicyCenter.jpg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/TaxPolicyCenter?ref_src=twsrc%5Etfw"
    class="twitter-follow-button"  data-size="large"
    data-show-count="false">@TaxPolicyCenter</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("TaxReformer.jpg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/taxreformer?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">@TaxReformer</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>

  <p>
    <%= image_tag("Tracy.jpeg", size: "60x60", class: "style_image") %>
    <a href="https://twitter.com/TaxAddict?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large"
    data-show-count="false">Follow @TaxAddict</a>
    <script async src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  </p>
</div>
