<div class="container">
  <h3 align="center">This is How Your Senators Voted on the 2017 Tax Act</h3>
  <div align="center" class="row">
    <% @senators.each do |senator| %>
    <div class="col-md-6">
      <div class="card senate-card">
        <h4>Senator <%= senator.name %></h4>
        <p>Party Affiliation: <em><%= senator.party %></em></p>
        <p>Twitter Account: <%= link_to "https://twitter.com/#{senator.twitter_account}" %></p>
        <p>Facebook: <%= link_to "https://www.facebook.com/#{senator.facebook_account}" %></p>
        <p>YouTube Page <%= link_to "https://www.youtube.com/user/#{senator.facebook_account}" %></p>
        <% if senator.party == "R" && senator.name != "Bob Corker" %>
          <%= image_tag("yes.jpg", size: "100x100", :style => "border: 1px solid gray") %>
        <% elsif senator.name == "Doug Jones"%>
          <%= image_tag("n_a.jpg", size: "100x100", :style => "border: 1px solid gray") %>
        <% else %>
          <%= image_tag("no.png", size: "100x100", :style => "border: 1px solid gray") %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
